<h1>Simulations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @simulations.each do |simulation| %>
      <tr>
        <td><%= link_to simulation.name, simulation %></td>
        <td><%= simulation.width %>x<%= simulation.height %></td>
        <td><%= link_to 'Destroy', simulation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation', new_simulation_path %>
